body {
    animation: background 16s;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    background: rgb(255,0,53);
  
    height: 100vh;
  }

@keyframes background {
    from {
        
        background-color: rgb(255, 0, 0);
    }
    25% {
     
    }

    50% {
        height: 50%;
        background-color: rgb(47, 0, 255);
    }

    75% {
     
    }

    to {
       
        background-color: rgb(255, 0, 0);
    }
}
h1 {
    color: white;
}

button {
    
    font-size: 30px;
    position: relative;
    margin-left: 1em;
    padding: 0.7em;
    margin-top: 1em;
}

#Wheat {
   position: absolute;
   top: 80%;
}

#farmupgrade {
    position: absolute;
   top: 80%;
   left: 20%;
}

h2 {
    color: white;
    position: absolute;
    left: 90%;
    top: 1%;
    font-size: 30px;
}

p {
    color: white;
    position: absolute;
    top: 100%;
    font-size: 30px;
}

#sell {
    position: absolute;
    top: 110%;
    left: 10%;
    background-color: rgb(22, 116, 167);
    font-size: 20px;
}

#sell:hover {
    background-color: rgb(5, 42, 97);
}

.container {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}